# Variables de entorno
.env

# Secretos de Streamlit
.streamlit/secrets.toml
chat_multi_usuario/.streamlit/secrets.toml

# Entorno virtual
venv/
venv_diplo/
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store

# Excluir carpeta de módulos (solo para el repositorio)
modulo 2/ 